* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  height: 100%;
  width: 100%;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/801/764/23/abstract-hexagon-3d-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: blur(20px);
}

body {
  display: table-header-group;
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  justify-content: top;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://media.giphy.com/media/hGlG5YU7yvNg6rQbEJ/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 33vw 18vh;
  overflow: hidden;
}

/* .watch_welcome {
  display: flex;
} */

.welcome {
  /* flex: 1; */
  position: absolute;
  margin-top: 20px;
  margin-left: 37vw;
  align-items: center;
}

.usernameDisplay,
.usernamedisplay {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: cursive;
  font-weight: lighter;
}

.calendar1 {
  display: flex;
}

.calendar {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  margin-left: 30px;
  position: absolute;
  bottom: 50px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);
}

.calendar #Month1 {
  position: relative;
  padding: 5px 10px;
  background-color: #e27979;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.calendar #Day1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.calendar #date1 {
  margin-top: 0px;
  line-height: 1em;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}
.calendar #Year1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
/* Calendar CSS Over  */

/* Icon CSS Start  */
.wrapper {
  display: inline-flex;
}
.wrapper .icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .icon:hover span {
  color: #fff;
}
.wrapper .icon span i {
  font-size: 25px;
  line-height: 60px;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0px;
  background: #fff;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px 18px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: -70px;
}
.wrapper .icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
}
.wrapper .mail:hover span,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background: #c71610;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333;
}
.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #316ff6;
}
a {
  color: #333;
}
.wrapper {
  padding-left: 35vw;
  padding-top: 80vh;
}
/* Icon CSS Over  */

/* To-Do CSS Start  */
.container {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 30px;
  padding: 18px;
  width: 300px;
  max-height: 280px;
  overflow-y: auto;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 13px;
  box-sizing: border-box;
  font-size: 16px;
  gap: 1px;
}

input[type="text"] {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #0f0f0f;
  background: transparent;
  border-radius: 13px;
  background: white;
  padding: 12px 20px 12px 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

#addTask {
  box-sizing: border-box;
  border: 1px solid #0f0f0f;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  box-shadow: 0 15px 25px rgba(233, 11, 11, 0.1);
  border-radius: 13px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding-top: 10px;

}
li {
  display: flex;
  color: white;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  /* text-align: left; */
}

.complete {
  text-decoration: line-through;
}

button.delete {
  background: transparent;
  color: white;
  box-sizing: border-box;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  border-radius: 13px;
}

button:hover {
  background-color: rgba(101, 105, 138, 0.5);
}

.center {
  text-align: center;
  padding: auto;
  color: white;
  padding-bottom: 20px;
}

.checkbox {
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  padding: auto;
  margin-right: 20px;
}
/* To-Do CSS Over  */

/* Watch CSS Start  */
.clock1 {
  display: flex;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
  color: #fff;
  width: 320px;
  height: 100px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}
.clock {
  display: flex;
}
.clock h2 {
  font-size: 3em;
}
.clock h2:nth-child(odd) {
  padding: 5px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 10px;
}
#ampm {
  color: #f9d524;
  padding-right: 20px;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
}

#tzone {
  display: flex;
  position: absolute;
  padding-left: 144px;
  padding-bottom: 80px;
}
/* Time css end here  */

/* weather css */
.weather-card {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  position: absolute;
  top: 120px;
  left: 0px;
  margin: 30px;
  padding-top: 8px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 300px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
}

.weather {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  color: white;
}

.weather1 {
  display: none;
}

.weather h1 {
  margin: auto;
  padding-bottom: 10px;
}

/* .search {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin: auto;
  margin-bottom: 10px;
} */

/* .input-box i {
  flex: 0.1;
  font-size: 16px;
  padding: 3px 5px 3px 5px;
  width: 5px;
  align-items: center;
} */

/* .search input {
  flex: 1;
  display: inline-block;
  color: white;
  outline: none;
  text-transform: uppercase;
  border: none;
  background: transparent;
  font-size: 14px;
  align-items: center;
  padding: 0;
  border-radius: 0%;
} */

/* .input-box {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #0f0f0f;
  background: transparent;
  border-radius: 13px;
  padding: 8px 10px 8px 1px;
} */

/* .search button {
  background: transparent;
  color: rgba(255, 255, 255);
  box-sizing: border-box;
  padding: 12px 20px 12px 15px;
  cursor: pointer;
  border-radius: 13px;
  right: 0;
  font-size: 13px;
}

.search button:hover {
  background-color: rgba(101, 105, 138, 0.5);
}

.search input::placeholder {
  text-transform: capitalize;
  color: rgb(255, 255, 255, 0.7);
  font-size: 16px;
} */

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 35px;
}

.col i {
  display: flex;
  align-items: center;
  text-align: left;
}

.weather2 {
  margin: 0;
  padding: 0;
  font-size: x-small;
}

.city {
  font-size: 30px;
  align-items: center;
}

.temp {
  display: inline-block;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 25px;
  align-items: center;
}

.description {
  display: inline;
  align-items: right;
  font-size: 20px;
  text-transform: capitalize;
}

.details {
  margin: auto;
  padding-top: 20px;
  font-size: small;
}

.humidity,
.wind {
  margin: auto;
  padding-left: 3px;
}

.humidity-info,
.wind-info {
  margin: auto;
  padding: 1px;
}

.details .col {
  display: flex;
  margin: auto;
}

.details .col i {
  font-size: 45px;
}

.error {
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}

/* weather css ends*/

/* .Settings {
  position: relative;
  color: #fff;
} */
.Options {
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  margin-left: 78vw;
  bottom: 250px;
  border-radius: 13px;
  overflow: hidden;
  align-items: center;
}
#gear {
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* quotations */
.card {
  height: 150px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 10px;
  right: 0px;
  margin-right: 30px;
  padding: 20px 30px 20px 30px;
  width: 300px;
}

.card h2 {
  text-align: center;
  font-size: medium;
  font-family: cursive;
  color: #fff;
  justify-content: center;
}
/* Options  */
#calc,
#notes,#converter {
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Options {
  display: flex;
}

.Settings,
.option-1,
.option-2,
.option-3,.option-4 {
  flex: 1;
}
#converter{
  height: 200px;
  width: 200px;
  

}
/* options style end  */
/* form style */
.form-container {
  z-index: 2;
  align-items: center;
  margin: auto;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.user-info {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 13px;
  overflow: hidden;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px ;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formbody {
  align-items: center;
  background-image: none;
}

.form-heading {
  display: inline-block;
  color: white;
  font-size: 50px;
}

.username, .cityname {
  color: white;
  gap: 1px;
  margin: 16px;
  margin-left: 20px;
  font-size: larger;
}

.input-name,
.input-city {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

#userName , #cityName{
  gap: 2px;
  flex: 1;
  margin-right: 30px;
  box-sizing: border-box;
  border: 1px solid #0f0f0f;
  color: white;
  font-size: 16px;
  background: transparent;
  border-radius: 13px;
  padding: 12px 20px 12px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  background: transparent;
  box-sizing: border-box;
  padding: 12px 20px 12px 30px;
  cursor: pointer;
  margin: 20px;
  border-radius: 13px;
  color: white;
}
/* form style ends */


/* Styles for the modal and its content */
.option-btn{
  cursor: pointer;
  background: transparent;
  border-style: none;
}

.option-btn:hover{
  color: initial;
  background-color: initial;
}

.optI{
  color: white;
  font-size: 20px;
}

.modal {
  align-items: center;
  margin: auto;
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 13px;
  overflow: hidden;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px ;
  height: 600px;
  overflow: auto;
  /* display: flex; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#appIframe{
  display:block;
  width: 100%;
  height: 100%;
}

#appIcframe{
  display:block;
  width: 60%;
  height: 100%;
}


.close {
  color: #aaa;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  top: 5px ;
  right: 25px ;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#msg{
        color: white;
        text-align: center;
        text-align-last: right;
        position: absolute;
        padding-left: 25vw;
        padding-top: 55vh;
}