@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100vw;
  background-image: blur(20px);
}
body {
  font-family: "Rubik Doodle Shadow";
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calcu {
  border: 6px solid rgba(107, 102, 102, 0.518);
  padding: 10px;
  background: rgba(255,255,255,0.05);
box-shadow: 0 15px 25px rgba(0,0,0,0.1);
z-index: 1000;
/* border: 1px solid rgba(255,255,255,0.1); */
backdrop-filter: blur(20px) ;
}

input,
button {
  padding: 10px;
  margin: 10px;
  color: aliceblue;
  cursor: pointer;
}
button:hover {
  /* background-color: aliceblue; */
  background-color: rgba(180, 147, 147, 0.779);
  color: black;
}

.equal:hover {
  background-color: burlywood;
}
button {
  text-align: center;
  background-color: rgba(55, 48, 48, 0.779);
  height: 55px;
  width: 55px;
  font-size: larger;
  border-radius: 50%;
}

input {
  background-color: black;
  height: 50px;
  width: 90%;
  text-align: right;
  font-size: 20px;
}

.equal {
  background-color: orange;
  color: black;
}

.operator {
  background-color: rgb(112, 29, 29);
  color: aquamarine;
}
.operator:hover {
  background-color: rgb(164, 85, 85);
}

.inp {
  height: 70px;
  border-bottom: 2px rgb(246, 243, 243);
}

.cross {
  height: 50px;
  width: 100%;
  /* background-color: rgb(151, 151, 229); */
  top: 0;
  color: #fff;
  position: absolute;
  padding-left: 94%;
}

.cross .btn {
  /* height: 40px;
  width: 40px; */
  padding: 12px 16px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
}

.cross .btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
